version: '3.3'

services:
  www:
    container_name: sspa-iogwu-www
    image: sspa-iogwu-www
    build: ./www
    environment:
      - CHOKIDAR_USEPOLLING="true"
    volumes:
      - ./www:/www
      - /www/node_modules

  api:
    container_name: sspa-iogwu-api
    image: sspa-iogwu-api
    build: ./api
    environment:
      - ACCESS_TOKEN_SECRET=${ACCESS_TOKEN_SECRET}
      - REFRESH_TOKEN_SECRET=${REFRESH_TOKEN_SECRET}
      - PORT=4000
      - MESSAGE=Hello World!
      - CHOKIDAR_USEPOLLING="true"
      - MONGO_URL=mongodb://${MONGO_USER}:${MONGO_PASSWORD}@mongo/${MONGO_DATABASE}
    volumes:
      - ./api:/api
      - /api/node_modules

  nginx:
    container_name: sspa-iogwu-nginx
    image: sspa-iogwu-nginx
    build: ./nginx
    ports:
      - 80:80
    volumes:
      - ./nginx/conf:/etc/nginx/conf.d
    depends_on:
      - api
      - www

  mongo:
    container_name: mongo
    image: mongo:4.0-rc-xenial
    restart: always
    environment:
      - MONGO_INITDB_DATABASE=${MONGO_DATABASE}
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD}
    volumes:
      - ./db-setup/001_users.js:/docker-entrypoint-initdb.d/001_users.js:ro
      - ./db:/data/db
      - ./db-backup:/db-backup
    ports:
      - 27017:27017
